/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





#wrap{
    width: 1174px;
    height: 120%;
    margin:0 auto;
    padding-top: 10px;
    min-width: 1158px;
}
#container{
    width:100%;
    height:500px;
}

/*header start===============================================================*/

#headerBox{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background: #ffb291;
    text-align: center;
}

#headerBox .h_logo{
    width: 30%;
    height: 100%;
    line-height: 50px;
    float: left;

}

#headerBox .h_logo img{
    margin-top: 15px;
}

#headerBox .h_logo a{
	margin-top: 15px;
}

#headerBox .h_searchbox{
    width: 70%;
    height: 100%;
    float: left;
}

#headerBox .h_searchbox .h_search{
    width: 50%;
    height: 30%;
    float: left;
    margin-top: 15px;
}


#headerBox .h_searchbox .h_submitbtn{
    float: left;
    background-image: url("../img/검색버튼.gif");
    width: 45px;
    height:32px;
    border: 0px;
    margin-left: 2px;
    margin-top: 13px;
}

/*headerbox end===================================================================*/

/*middle box start===============================================================*/


#middlebox{
    width: 100%;
    height: 315px;
    padding-top: 24px;
}

#middlebox .m_login{
    width: 216px;
    height: 280px;
    background-image: url("../img/로그인창.png");
    float: left;
    text-align: center;
}

#middlebox .m_login  .m_log_input {
    width: 100%;
    height: 65px;
    padding-top: 30px;
}

#middlebox .m_login  .m_log_input h3{
    display: inline;
}

#middlebox .m_login  .m_log_input input{
    width:75%;
}

#middlebox .m_login  .m_log_input .m_log_input_id{
    margin-left: 8px;
}


#middlebox .m_log_joinus{
    margin-top: 20px;
}

#middlebox .m_log_lost{
    margin-top: 20px;
}


#middlebox .m_login p input {
    margin-top:20px;
    border-radius: 10px;
    width: 192px;
    height: 82px;
    background-image: url("../img/loginButton.png");
    border-radius: 25px;
    border: 0;
    outline: 0;
}



#middlebox .m_imgbox{
    width: 706.38px;
    height: 280px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    background-image: url("../img/ㄹㄹㄹ.png");
    border-radius: 10px;
    min-width: 690px;
}

#middlebox .m_donation{
    width: 216px;
    height: 215px;
    margin-top: 30px;
    text-align: center;
    float: left;
}
/*middlebox end==========================================================================*/

/*aside box start=========================================================================*/

#asidebox{
    width:216px;
    height:400px;
    float: left;
    margin-right: 13px;
}

#asidebox .a_catagori{
    width: 100%;
    height:auto;
    background:#fff;
    border-radius: 10px;
    border:1px solid #000;
    position:relative;
}
#asidebox .a_catagori div{
    width:100%;
    height:30px;
}
#asidebox .a_catagori span{
    width:80%;
    height:100%;
    float:left;
    line-height: 30px;
}

#asidebox .a_catagori img {
    width:20%;
    height:100%;
    float:left;
}

#asidebox .a_catagori .a_cat_ul{
    display:none;
    width:100%;
    height:100px;
}

#asidebox .a_catagori .a_cat_ul li{
    display:block;
    text-align: center;
}


#asidebox .a_center{
    width: 100%;
    height:auto;
    margin-top: 10px;
    background:#fff;
    border-radius: 10px;
    border:1px solid #000;
    position:relative;
}

#asidebox .a_center div{
    width:100%;
    height:30px;
}

#asidebox .a_center span{
    width:80%;
    height:100%;
    float:left;
    line-height: 30px;
}

#asidebox .a_center img {
    width:20%;
    height:100%;
    float:left;
}

#asidebox .a_center .a_center_ul{
    display:none;
    width:100%;
    height:100px;
}

#asidebox .a_center .a_center_ul li{
    display:block;
    text-align: center;
}
/*aside box end================================================================================*/

/*contentbox start============================================================================*/

#contentBox {
    width: 706.38px;
    height:400px;
    min-width: 690px;
    padding: 10px;
    overflow: auto;
    float: left;
}

#contentBox .goods{
    width: 30%;
    hight:150px;
}
#contentBox .goods img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contentBox .goods p{
    text-align: center;
}

#contentBox .goods .g_name{
    font-size: 15px;
}

#contentBox .goods .g_price{
    font-size: 15px;
}

#contentBox .goods .g_add{
    font-size: 10px;
}
/*contentbox end===========================================================================*/

/*sidebox start==============================================================================*/

#side_nav{
    float: left;
    width: 216px;
    height:281px;
}

/*side box end====================================================================================*/

/*footer box start===================================================================================*/
#footerBox{
    width: 100%;
    height: 200px;
    text-align: center;
}

#footerBox p{
    color: #aaaaaa;

}
/*footer box end=============================================================================*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
