/*reset start*/
/*
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*reset end*/


/*margin-top: 10px;
margin-right: 20px;
margin-bottom: 15px;
margin-left: 5px;
*/


#wrap{
    width: 95%;
    height: 120%;
    margin-top: 10px;
    margin:0 auto;
}

#headerBox{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background: #ffb291;
    text-align: center;
}

#headerBox .h_logo{
    width: 30%;
    height: 100%;
    line-height: 50px; /*줄간격*/
    float: left;
}

#headerBox .h_logo img{
    margin: 15px;
}

#headerBox .h_searchbox{
    width: 70%;
    height: 100%;
    float: left;
}

#headerBox .h_searchbox .h_search{
    width: 40%;
    height: 30%;
    float: left;
    margin-top: 15px;
}


#headerBox .h_searchbox .h_submitbtn{
    float: left;
    background-image: url("./article/검색버튼.gif");
    width: 45px;
    height:32px;
    border: 0px;
    margin-left: 2px;
    margin-top: 13px;
}

#middlebox{
    width: 100%;
    height: 315px;
    padding-top: 24px;
}

#middlebox .m_login{
    width: 216px;
    height: 280px;
    background-image: url("./article/로그인창.png");
    float: left;
    text-align: center;
}

#middlebox .m_login  .m_log_input {
    width: 100%;
    height: 65px;
    padding-top: 30px;
}

#middlebox .m_login  .m_log_input h3{
    display: inline;
}

#middlebox .m_login  .m_log_input input{
    width:75%;
}

#middlebox .m_login p input {
    border-radius: 10px;
    width: 90%;
    height: 80px;
    background: #ffb291;
}

#middlebox .m_log_joinus{
    margin-top: 10px;
}

#middlebox .m_log_lost{
    margin-top: 10px;
}

#middlebox .m_imgbox{
    width: 72%;
    height: 280px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    background-color: #4881ff;
    border-radius: 10px;
}

#middlebox .m_donation{
    width: 217px;
    height: 215px;
    margin-top: 20px;
    background-image: url("./article/기부.png");
    text-align: center;
    float: left;
}


#asidebox{
    width:216px;
    height:400px;
    float: left;
    margin-right: 13px;
}

#asidebox .a_catagori{
    width: 100%;
    height:30px;
    background:#fff;
    border-radius: 10px;
    border:1px solid #000;
    position:relative;
}

#asidebox .a_catagori span{
    width:80%;
    height:100%;
    float:left;
    line-height: 30px;
}

#asidebox .a_catagori img {
    width:20%;
    height:100%;
    float:left;
}
#asidebox .a_catagori .a_cat_ul{
    display:none;
    width:100%;
    height:100px;
}
#asidebox .a_catagori .a_cat_ul li{
    display:block;
    text-align: center;
}

#contentBox {
    width: 72%;
    float: left;
    height:400px;
    overflow: auto;
}